@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
html{
    background-color:#fff;
    scroll-behavior: smooth;

}
:root{
    --main-color : #fe81ac;
    --secondry-color : #94ccb9;
    --white : #fff;
    --light : #fcfcfc;
    --dark : #bbb;
    --gray : #A4A4A4
}
* {
    font-family: 'Quicksand', sans-serif;
    margin:0 ; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    box-sizing: border-box;
    background-color:#fff;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.up{
    width: 50px;
    height: 50px;
    background-color:white;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 5;
    border-radius: 4px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .30);}
.active{
    /* color:var(--main-color)  !important; */
    font-weight: 900;}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;}
.nav-item a:hover{
    color:var(--main-color)  !important ;
    font-weight: 900;}
.navbar-brand{
    font-size: 2rem;
    color:var(--main-color)  !important ;}
.navbar-brand:hover{
    font-size: 2rem;
    color:var(--secondry-color)  !important ;}
nav div ul li i{
    font-size: 1.4rem;
    font-weight: 200;}

    
/*----header slider----*/
.slide{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.75rem;  
    margin-top: 5%;}
.slide .bg{
    height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}
.slide .carousel-item h5{
    color: var(--secondry-color)  ;
    font-weight: 500;}
.slide .carousel-item h1{
    color:var(--main-color)  ;
    font-weight: 900;  }
.slide .carousel-item p{
    font-weight: 500;
    color: #696969;}
.slide .carousel-item a{
    background-color:  var(--secondry-color) ;
    color: white;}

.about{
    color: #999999;}

.about h5{
    font-family: 'Dancing Script';
    font-weight:200 ;
    color:var(--secondry-color)   ;
    text-transform: capitalize;
    font-size: 2.5rem;
}
.about h5.who{
    color: rgb(107, 107, 107);
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
    font-size: 3rem;
}
.gallery-container {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    grid-template-areas:
        'item1 item2 item4'
        'item1 item3 item4';
    gap: 15px;
}
.gallery-container .item{
    overflow: hidden;
    transition: .4s;
    position: relative;
}
.gallery-container .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-container .item:nth-child(1) {
    grid-area: item1;
}
.gallery-container .item:nth-child(4) {
    grid-area: item4;
}
.gallery-container .item .categoryBtn{
    position: absolute;
    bottom: 30px;
    left: 0%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.gallery-container .item .categoryBtn a{
    background-color: white;
    font-weight: 500;
    border-radius: 0;
    padding: .5rem 1.5rem;
}
.gallery-container .item img{
    transition: all .6s;
}
.gallery-container .item:hover img{
    transform: scale(1.2);
}
@keyframes zoom {
    0%{background-size: 100% 100%;}
    50%{background-size: 120% 120%;}
    100%{background-size: 100% 100%;}
}
.trends{
    position: relative;
}
#popup.blur{
    /* filter:blur(5px); */
    /* pointer-events: none; */
    /* user-select: none; */
    visibility: visible;
    transition: 1s;
}
#popup{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000050;
}
.popup-container{   
    transform: scale(0);
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;;
    margin: auto;
    transition: 1s;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    width: 75%;
    height: 80vh;
}

.popup-container.active{
    transform:scale(1) ;
}
#popup .carousel-item{
    height: 100%;
}
.add{
    background-color:var(--main-color) ;
    color: white;
    font-weight: bold;
}
.add:hover{
    background-color:var(--secondry-color) ;
    color: white;
    font-weight: bold;
}
.line{
    width: 15%;
    height: 2.2px;
    background-color:var(--main-color);
    margin: auto;
    border-radius: 2px;
}
.trend h6{
    color:var(--main-color) ;
}
.trendBtn a{
    background-color:var(--main-color) ;
    color: white;
    padding: 0.38rem 1.5rem;
}
.trending{
    position: relative;
}
.trendHover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.trend:hover .trendHover,.trend:hover .fav{
    opacity: 1;
}
.trending .fav{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: larger;
    color: var(--main-color);
    z-index: 1;
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}
.trending .fav:hover{
    animation: zoom-in-zoom-out .8s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.trending .fav.fas{
    opacity: 1;
}
.trendHover a:hover{
    background-color:  var(--secondry-color) ;
    color: white;
}

.mini_cart_footer {
    padding: 20px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top: 1px solid rgba(129,129,129,.2);
    box-shadow: 0 0 10px 0 rgb(129 129 129 / 20%);
}
.mini_cart_footer a, .mini_cart_footer button{
    display: block;
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 20px;
    padding: .5rem;
    width: 100%;
    margin-top: 1rem;
}
.mini_cart_footer a{
    background-color: #f3f3f3;
    color: #000;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 2rem;
    background-position: center center;
    background-size: 100% 100%;
}
.zoom{
    overflow: hidden;}
.zoom img{
    transition: 1s transform;
    transform-origin: center center;
    height: 215px;
    object-fit: cover;
}
.zoom:hover img{
    transform: scale(1.2);
}
.blog-card-body h5{
    color: #000 !important;
}
.blog-details img{
    height: 420px;
}
.blog-details p{
    line-height: 2;
    margin-bottom: 1rem;
    color: #6c757d!important;
}

footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index:-1;
}
.foot{
    background-position: center center;
    background-size: cover;
}

footer .foot li{
    list-style: none;
    position: relative;
    margin-bottom: 1rem;
}
footer .foot a{
    position: absolute;
    top:0%;
    right: 0;
    left: 0;
    bottom: 0;
}



.fa-facebook-f:hover{
    color: #3b5998;
}

.fa-twitter:hover{
    color: #00aced;
}

.fa-instagram:hover{ 
    color: #517fa4;
}

.fa-linkedin-in:hover{ 
    color: #007bb6;}

.fa-pinterest-p:hover{ 
    color:#cb2027;}

/*-------sub-------*/
header {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn-dark.focus, .btn-dark:focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: none !important;
}

.navbar-toggler {
    padding: 0;
    border-color: transparent !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.cart-container .table {
    vertical-align: middle;
}
.cart-container .table>:not(caption)>*>* {
    padding: 1.5rem 0.5rem;
}
.cart-container .product-details img{
    width: 100px !important;
    margin-right: .5rem;
}
/* ----------- product-details --------------- */
ul{
    padding: 0;
    margin: 0;
}
.product-details .product-preview{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light);
    font-size: 14px;
 }
 /* .product-details .cart-product-item ul{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light);
 } */
 .product-details .cart-product-item ul > li{
    font-size: 13px;
    color: #454545;
    padding: 5px 0;
 }
 .product-details .cart-product-item ul > li span:first-child{
    font-size: 15px;
    color: var(--dark);
    font-weight:700;
 }
 .product-details .cart-product-item ul > li:last-child{
    padding: 20px 0;
 }
 .cart-product-name h5{
    color: var(--main-color);
    margin: 0;
 }
 .plant-care li{
    display: flex;
    align-items: center;
 }
 .plant-care img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    filter: invert(.5);
 }
 .product-details .full-price{
    font-size: 22px;
    color: var(--secondry-color) !important;
    /* padding:5px 15px;
    border: 1px solid var(--secondry-color);
    border-radius:5px; */
 }
 .product-details .cart-product-item .full-price #price{
    color: var(--secondry-color);
 }
 .product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 a.qtyplus {
    padding: 3px 15px;
    border: 1px solid var(--main-color);
    font-size: 12px;
    line-height: 0px;
    color: var(--main-color);
    border-radius: 5px;
    transition: all 0.3s;
}
 a.qtyminus {
    padding: 3px 15px;
    border: 1px solid var(--gray);
    font-size: 12px;
    line-height: 0px;
    color: var(--gray);
    border-radius: 5px;
}
 .qty {
    font-size: 18px;
    width: 30px;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    color: var(--dark);
}
.product-details .product-info .quantity{
    display: inline-block;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 
 }
 .product-details .add-to-cart{
    width: 100%;
    margin-top: 1rem;
    height: fit-content;
    font-size: 14px;
    padding: 8px 25px;
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: all 0.3s;
 }
 /* .product-details .product-info  .add-to-cart:hover{
    background-color: var(--main-color) ;
    color: var(--white);
 } */
 .nav-pills .nav-link {
    color: var(--gray);
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--secondry-color);
    background-color: transparent;
    border-bottom: 2px solid var(--secondry-color);
 }
 .nav-pills .nav-link {
    background: 0 0;
    border: 0; 
    border-radius: 0;
 }
 
 .description-comments{
    background-color: var(--ultra-lite);
    border-radius:10px;
 }
 .description-comments p{
    font-size: 16px;
    font-weight: initial;
    color: var(--gray);
    margin-bottom: 15px;
 }
 
 .user-comment-container{
    padding: 20px 20px 20px 0;
    max-height: 400px;
    overflow-y: auto;
 }
 ::-webkit-scrollbar{
    height: .5rem;
    width: 0.6rem;
 }
 
 ::-webkit-scrollbar-track{
    background-color: var(--light);
 }
 
 ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
 }
 .user-comment-container::-webkit-scrollbar{
    width: 3px;
 }
 .user-comment{
    display: flex;
    margin-bottom: 25px;
 }
 .user-comment .avatar{
    padding: 0 15px;
 }
 .user-comment .avatar img{
    width: 70px;
    border-radius: 50%;
 }
 .description-comments .comment-details{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
 }
 .your-comment{
    display: flex;
    flex-direction: column;
 }
 .your-comment textarea{
    background-color: var(--white);
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
 }
 
 
 
 /* -------------- products page ------------ */
.carousel {
    background: #FAFAFA;
    margin-bottom: 40px;
}

.carousel-cell {
    width: 100%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
.carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flickity-prev-next-button .flickity-button-icon {
    width: 45%;
    height: 40%;
    left: 28%;
    top: 32%;
    color: var(--main-color);
}
.flickity-page-dots .dot {
    background: var(--main-color);
}
.carousel-nav .carousel-cell {
    height: 80px;
    width: 100px;
}

.carousel-nav .carousel-cell:before {
    font-size: 50px;
    line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
    background: #ED2;
}
.policy{
    padding: 3rem;
}
.policy ul{
    padding: 0 3rem  ;
}
.policy ul li{
    list-style:disc;
}
.policy ol li{
    display: block;
    padding-left: 1.4rem;
    position: relative;
}
.policy ol li h5{
    font-weight: bold;
}
.policy ol{ 
    counter-reset: item 
}
.policy ol li:before { 
    content: counters(item, ".") " - "; 
    counter-increment: item; 
    position: absolute;
    left: 0; 
    font-weight: inherit;
}
.policy ol li ol li{
    padding-left: 2.2rem;
}
.policy p{
    color:#696969;
}

.fav-container .nav{
    justify-content: center;
}
.fav-container .nav-link {
    border: 1px solid currentcolor;
    color: #878787;
    --active-view-cl: #878787;
    transition: .25s;
    margin: .25rem;
    display: flex;
    background: transparent;
    padding: 2px;
}
.fav-container .nav-link.active .colNum{
    background: #000;
}
.fav-container .nav-link .colNum {
    width: 10px;
    height: 20px;
    background: currentcolor;
    background: var(--active-view-cl);
    transition: .3s;
    margin: 0 2px;
}
.fav-container .nav{
    margin-bottom: 3rem;
}

.fav-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
}


@media(max-width:992px){
    .navbar-collapse{
        position: absolute;
        top: 100%;
        background-color: #fff;
        left: 0;
        right: 0;
        padding: 0 0 2rem 4rem;
    }
    .navbar-brand {
        margin-left: 1rem;
    }
    .gallery-container {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-areas:
        'item1 item2 item4'
        'item1 item3 item4';
        gap: 10px;
    }
    .nav-item{
        width: fit-content;
    }
    .popup-container {
        width: 88%;
        height: 60vh;
        z-index: 9;
        left: 6%;
    }
    header div.py-5{
        padding-top: 5.5rem!important;
    }
    .fav-grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
    }
    .fav-container .nav{
        display: none;
    }
}
@media(max-width:767.8px){
    footer {
        width: 100%;
        position: relative;
        z-index: 0;
    }
    body{
        margin-bottom: 0 !important;
    }
    .gallery-container .item .categoryBtn a {
        padding: 0.5rem 0.75rem;
    }
}
@media(max-width:768px){
    .navbar-collapse{
        padding: 0 0 2rem 2.5rem;
    }
    .fav-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }
}
@media(max-width:578px){
    #header {
        height:70vh;
    }
    .carousel-main .carousel-cell {
        width: 100%;
        height: 320px !important
    }
    .trends .carousel-item img,#popup .carousel-item img{
        height: 200px !important;
    }
    .gallery-container {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-areas:
            'item1 item2'
            'item1 item3'
            'item1 item4';
        gap: 5px;
    }
    .zoom img {
        height: 165px;
    }
    
    .copyright p{
        font-size: 12px;
    }
    .copyright .container{
        flex-wrap: wrap;
    }
    .line{
        width: 33%;
    }
    .popup-container{
        width: 90%;
        height: 80vh;
        left: 5%;
    }
    #popup .btns{
        margin: 0;
    }
    #popup .carousel-item{
        height: auto;
    }
    .trendBtn a{
        font-size: 15px;
        padding: 0.38rem .8rem;
    }
    .navbar-collapse{
        padding: 0 0 2rem 1rem;
    }
    .fav-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
    .table .product-quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .cart-container .product-details img {
        width: 70px !important;
    }
    .cart-container .product-details h5{
        font-size: smaller;
    }
    .cart-container .product-details .add-to-cart {
        font-size: 12px;
        padding: 6px 12px;
    }
    .cart-container .product-details .full-price {
        font-size: 18px;
    }
}