html{
    background-color:#fff;
    scroll-behavior: smooth;

}
body{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-color:#fff;
}
.up{
    width: 50px;
    height: 50px;
    background-color:white;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 5;
    border-radius: 4px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .30);}
.active{
    color:#fe81ac !important;
    font-weight: 900;}
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;}
.nav-item a:hover{
    color:#fe81ac !important ;
    font-weight: 900;}
.navbar-brand{
    font-size: 2rem;
    color:#fe81ac !important ;}
.navbar-brand:hover{
    font-size: 2rem;
    color:#94ccb9 !important ;}
nav div ul li i{
    font-size: 1.4rem;
    font-weight: 200;}

/*----slide----*/

.slide{
    font-family: 'Quicksand', sans-serif;
    line-height: 1.75rem;  
    margin-top: 5%;}
.slide .bg{
    background-size: cover;
    background-position: center center;}
.slide .carousel-item h5{
    color: #94ccb9 ;
    font-weight: 500;}
.slide .carousel-item h1{
    color:#fe81ac ;
    font-weight: 900;  }
.slide .carousel-item p{
    font-weight: 500;
    color: #696969;}
.slide .carousel-item a{
    background-color:  #94ccb9;
    color: white;}

.about{
    color: #999999;}


.gallery-container {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    grid-template-areas:
        'item1 item2 item4'
        'item1 item3 item4';
    gap: 15px;
}
.gallery-container .item{
    overflow: hidden;
    animation-duration: 2s;
    transition: .4s;
    position: relative;
}
.gallery-container .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-container .item:nth-child(1) {
    grid-area: item1;
}
.gallery-container .item:nth-child(4) {
    grid-area: item4;
}
.gallery-container .item .serviesBtn{
    position: absolute;
    bottom: 30px;
    left: 0%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.gallery-container .item .serviesBtn a{
    background-color: white;
    font-weight: 500;
    border-radius: 0;
    padding: .5rem 1.5rem;
}
.gallery-container .item img{
    transition: all .6s;
}
.gallery-container .item:hover img{
    transform: scale(1.2);
}
@keyframes zoom {
    0%{background-size: 100% 100%;}
    50%{background-size: 120% 120%;}
    100%{background-size: 100% 100%;}
}
.trends{
    position: relative;
}
#blur.active{
    filter:blur(5px);
    pointer-events: none;
    user-select: none;
}
#popup{
    width: 75%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;;
    margin: auto;
    position: fixed;
    z-index: 9;
    left: 12.5%;
    top: 11.5%;
    visibility: hidden;
    transition: 1s;
    transform: scale(0);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}
#popup.active{
    visibility: visible;
    transition: 1s;
    transform:scale(1) ;
}
.add{
    background-color:#fe81ac;color: white;font-weight: bold;
}
.add:hover{
    background-color:#94ccb9;color: white;font-weight: bold;
}
.line{
    width: 15%;
    height: 2.2px;
    background-color:#fe81ac ;
    margin: auto;
    border-radius: 2px;
}
.trend h6{
    color:#fe81ac ;}
.trendBtn a{
    background-color:#fe81ac;
    color: white;}
.trending{
    position: relative;}
.trendHover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: thistle;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.trending:hover .trendHover{
    opacity: 1;}
.trendHover a:hover{
    background-color:  #94ccb9;
    color: white;
}

.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 2rem;
    background-position: center center;
    background-size: 100% 100%;
}
.zoom{
    overflow: hidden;}
.zoom img{
    transition: 1s transform;
    transform-origin: center center;
    height: 240px;
    object-fit: cover;
}
.zoom:hover img{
    transform: scale(1.2);}

footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index:-1;
}
.foot{
    background-position: center center;
    background-size: cover;
}


.fa-facebook-f:hover{
    color: #3b5998;
}

.fa-twitter:hover{
    color: #00aced;
}

.fa-instagram:hover{ 
    color: #517fa4;
}

.fa-linkedin-in:hover{ 
    color: #007bb6;}

.fa-pinterest-p:hover{ 
    color:#cb2027;}

/*-------sub-------*/
header {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn-dark.focus, .btn-dark:focus {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    box-shadow: none !important;
}
@media(max-width:992px){
    .gallery-container {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-areas:
        'item1 item2 item4'
        'item1 item3 item4';
        gap: 10px;
    }
    .nav-item{
        width: fit-content;
    }
}
@media(max-width:767.8px){
    footer {
        width: 100%;
        position: relative;
        z-index: 0;
    }
    body{
        margin-bottom: 0 !important;
    }
    .gallery-container .item .serviesBtn a {
        padding: 0.5rem 0.75rem;
    }
}
@media(max-width:578px){
    .trends .carousel-item img{
        height: 200px !important;
    }
    .gallery-container {
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-areas:
            'item1 item2'
            'item1 item3'
            'item1 item4';
        gap: 5px;
    }
    .zoom img {
        height: 165px;
    }
    
    .copyright p{
        font-size: 12px;
    }
    .copyright .container{
        flex-wrap: wrap;
    }
    .line{
        width: 33%;
    }
    #popup{
        width: 90%;
        left: 5%;
    }
    #popup .btns{
        margin: 0;
    }
}